<h2><%= l(:time_logger_list_title) %></h2>

<% has_zombie = false %>

<% unless @user_time_loggers.nil? %>
    <div id="user-time-loggers-list">
        <h3><%= l(:time_logger_label_your_time_loggers) %></h3>
        <% if !@user_time_loggers.empty? %>
            <div class="autoscroll">
                <table class="list">
                    <thead>
                        <tr>
                            <th class="zombie"></th>
                            <th class="issue"><%= l(:label_issue) %></th>
                            <th class="start-date"><%= l(:time_logger_label_start_date) %></th>
                            <th class="spent-time"><%= l(:label_spent_time) %></th>
                            <th class="buttons"><%= l(:time_logger_label_action) %></th>
                        </tr>
                    </thead>

                    <tbody>
                        <% for time_logger in @user_time_loggers %>
                            <tr id="user-timetracker<%= time_logger.id %>" class="<%= cycle('odd', 'even') %>">
                                <% if time_logger.zombie? %>
                                    <% has_zombie = true %>
                                    <td class="zombie icon icon-warning"></td>
                                <% else %>
                                    <td class="zombie"></td>
                                <% end %>
                                <td class="issue"><%= link_to_issue issue_from_id(time_logger[:issue_id]), :project => true %></td>
                                <td class="start-date"><%= format_time(time_logger[:started_on]) %></td>
                                <td class="spent-time"><%= time_logger.time_spent_to_s %></td>
                                <td class="buttons">
                                    <%= link_to l(:time_logger_label_delete),
                                        {:controller => '/time_loggers', :action => 'delete', :id => time_logger.id },
                                        :class => 'icon icon-del',
                                        :remote => true,
                                        :complete => "$('#{'user-timetracker' + time_logger.id.to_s}').update('<td colspan=\"0\" class=\"msg\">' + request.responseText + '</td>');"
                                    %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        <% else %>
            <p class="msg"><%= l(:no_time_logger) %></p>
        <% end %>
    </div>
<% end %>

<% if User.current.allowed_to?(:view_others_time_loggers, nil, :global => true) %>
    <div id="all-time-loggers-list">
        <h3><%= l(:time_logger_label_other_time_loggers) %></h3>
        <% if !@time_loggers.nil? and !@time_loggers.empty? %>
            <div class="autoscroll">
                <table class="list">
                    <thead>
                        <tr>
                            <th class="zombie"></th>
                            <th class="user"><%= l(:label_user) %></th>
                            <th class="issue"><%= l(:label_issue) %></th>
                            <th class="start-date"><%= l(:time_logger_label_start_date) %></th>
                            <th class="spent-time"><%= l(:label_spent_time) %></th>
                            <th class="buttons"><%= l(:time_logger_label_action) %></th>
                        </tr>
                    </thead>

                    <tbody>
                        <% for time_logger in @time_loggers %>
                            <tr id="all-timetracker<%= time_logger.id %>" class="<%= cycle('odd', 'even') %>">
                                <% if time_logger.zombie? %>
                                    <% has_zombie = true %>
                                    <td class="zombie icon icon-warning"></td>
                                <% else %>
                                    <td class="zombie"></td>
                                <% end %>
                                <td class="user"><%= link_to_user user_from_id(time_logger[:user_id]) %></td>
                                <td class="issue"><%= link_to_issue issue_from_id(time_logger[:issue_id]), :project => true %></td>
                                <td class="start-date"><%= format_time(time_logger[:started_on]) %></td>
                                <td class="spent-time"><%= time_logger.time_spent_to_s %></td>
                                <td class="buttons">
                                    <% if User.current.allowed_to?(:delete_others_time_loggers, nil, :global => true) %>
                                        <%= link_to l(:time_logger_label_delete),
                                            { :controller => '/time_loggers', :action => 'delete', :id => time_logger.id },
                                            :class => 'icon icon-del',
                                            :remote => true,
                                            :complete => "$('#{'all-timetracker' + time_logger.id.to_s}').update('<td colspan=\"0\" class=\"msg\">' + request.responseText + '</td>');"
                                        %>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        <% else %>
            <p class="msg"><%= l(:no_time_logger) %></p>
        <% end %>
    </div>
<% end %>

<% if has_zombie %>
    <p class="legend icon icon-warning"><%= l(:time_logger_zombie_legend) %></p>
<% end %>
