<div>
    <h3><%= l(:time_logger_settings_general_title) %></h3>
    <div class="box tabular">
        <p>
            <%= l(:time_logger_refresh_rate) %>:&nbsp;
            <%= label_tag 'settings[refresh_rate]', l(:time_logger_refresh_rate) %>
            <%= text_field_tag 'settings[refresh_rate]', @settings['refresh_rate'], { :size => 4 } %>
            (<%= l(:time_logger_seconds) %>)
        </p>
    </div>
</div>
